@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply border border-black rounded-xl px-5 py-1
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(to bottom, #00C853, #fff);
}

::-webkit-scrollbar-thumb {
    background: #00C853;
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #00944F;
    border-radius: 10px;
}


body {
    font-family: 'Poppins', sans-serif;
}